*.exe
*.gcov
*.la
*.lo
*.o
*.orig
*.pc
*.rej
*.sw?
*~
.deps
.libs
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
missing
libtool
ltmain.sh
mkinstalldirs
install-sh
omf.make
stamp-enum-types
stamp-h1
stamp-marshal
uvernum.h
source/tools/genbrk/genbrk
source/tools/genccode/genccode
source/tools/gencfu/gencfu
source/tools/gencmn/gencmn
source/tools/gencnval/gencnval
source/tools/gendict/gendict
source/tools/gennorm2/gennorm2
source/tools/genrb/derb
source/tools/genrb/genrb
source/tools/gensprep/gensprep
source/tools/gentest/gentest
source/tools/icuinfo/icuinfo
source/tools/icupkg/icupkg
source/tools/icuswap/icuswap
source/tools/makeconv/makeconv
source/tools/pkgdata/pkgdata
source/extra/uconv/uconv
source/extra/scrptrun/srtest
