*.exe
*.gcov
*.la
*.lo
*.o
*.orig
*.pc
*.rej
*.sw?
*~
.deps
.libs
/build/autotools/*.m4
/build/compile
/build/config.guess
/build/config.rpath
/build/config.sub
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/missing
!/build/autotools/as-compiler-flag.m4
!/build/autotools/as-linguas.m4
!/build/autotools/introspection.m4
!/build/autotools/android.m4
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
gtk-doc.make
libtool
mkinstalldirs
omf.make
stamp-enum-types
stamp-h1
stamp-marshal
xmldocs.make
/data/Info.plist
/rig/rig
/rig/rig-device
/rig/rig-slave
/rig/jni/rig.pb-c.c
/rig/jni/rig.pb-c.h
/rig/jni/rig-defines.h
/tools/rig-bump-map-gen
/tools/rig-check-signature
/cogl-examples/cogl-basic-video-player
/cogl-examples/cogl-crate
/cogl-examples/cogl-gles2-context
/cogl-examples/cogl-hello
/cogl-examples/cogl-info
/cogl-examples/cogl-msaa
/cogl-examples/cogl-point-sprites
/cogl-examples/cogl-sdl2-hello
/cogl-examples/cogl-x11-foreign
/cogl-examples/cogl-x11-tfp
/cogl-examples/cogland
