*.exe
*.gcov
*.la
*.lo
*.o
*.orig
*.pc
*.rej
*.sw?
*~
.deps
.libs
/build/autotools/*.m4
/build/compile
/build/config.guess
/build/config.rpath
/build/config.sub
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/missing
!/build/autotools/as-compiler-flag.m4
!/build/autotools/as-linguas.m4
!/build/autotools/introspection.m4
!/build/autotools/android.m4
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
gtk-doc.make
libtool
mkinstalldirs
omf.make
stamp-enum-types
stamp-h1
stamp-marshal
xmldocs.make

/examples/entities
/examples/particle-engine
/editor/rig-editor
