/build/autotools/*.m4
!/build/autotools/as-compiler-flag.m4
!/build/autotools/clib.m4
/build/compile
/build/config.guess
/build/config.rpath
/build/config.sub
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/missing
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
autotool-config.h
autotool-config.h.in
config.log
config.status
configure
libtool
.deps
.libs
*.exe
*.gcov
*.la
*.lo
*.o
*.orig
*.pc
*.rej
*.sw?
*~

