<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.rig.app"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="auto">

    <application android:label="@string/slave_name"
                 android:icon="@drawable/ic_launcher"
                 android:allowBackup="true"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                 android:hardwareAccelerated="true"
                 android:debuggable="true">
        <activity android:name="RigSlaveActivity"
                  android:label="@string/slave_name"
                  android:configChanges="keyboardHidden|orientation"
                  >
            <!-- Tell NativeActivity the name of our .so -->
            <meta-data android:name="android.app.lib_name"
                       android:value="rig-slave" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />

    <!-- OpenGL ES 3.0 -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
